:root {
  --main-bg-color: coral;
  //variables are fun use them!!!
  //var(--main-bg-color)

}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #328A2E;
}

.container {
  border: 5px solid #044500;
  border-radius: 5px;
  margin: auto;
  width: 500px;
  height: 500px;
  display: grid;
  padding-right: 2px;
  padding-bottom: 2px;
}

.flexRow {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #044500;
  background-color: #8DCF8A;
}

.button {
  background-color: #8DCF8A;
  border-radius: 5px;
  border: #044500 solid 5px;
  color: #044500;
  padding: 8px 16px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
}

.pix {
  flex-grow: 10;
  border: 1px solid #044500;
  background-color: #8DCF8A;
}
